.row{
    background: rgb(100, 178, 247);
}
footer{
    color: rgb(226, 226, 226);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}