<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.instagram.com/francolalia/" target="_blank"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://www.linkedin.com/in/francolalia/" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://www.facebook.com/frannlalia/" target="_blank"><img src="../../../assets/face2.png" id="twitter"></a>
                <a href="https://twitter.com/frannlalia" target="_blank"><img src="../../../assets/twitter.png" id="twitter"></a>
                <button type="button" class="btn btn-outline-light">LOGIN</button>
            </div>
        </div>
    </div>
</div>

