<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h1>Proyecto Argentina Programa</h1>
            <p>Este proyecto lo estuve realizando durante el año 2022 para Argentina programa, como proyecto final para evaluar todo lo aprendido</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <img src="../../../assets/proyecto.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
